#navbar{
    display: flex;
    background-color: rgba(0, 0, 0,0);
    
}
h1{
    color: rgb(185, 217, 23);
    margin-left: 20px;
}
a{
    color: rgb(197, 197, 39);
    text-decoration: none;
    padding: 15px;
    /* font-size: large; */
    padding-left: 10px;
    border-radius: 20px;
}
#nav{
    margin-left: 700px;
    margin-top: 10px;
    height: 30px;
    background-color: rgba(74, 150, 204,0);
    display: flex;


}
a:hover{
    background-color: rgb(58, 92, 105);
}
#search{

    background-color: rgb(199, 189, 82);
    height: 30px;
    width: 200px;
    border-radius: 20px;
    /* padding-left: 5px; */
    /* margin-left: 400px; */
    padding-top: 10px;
    


}
#input{
    background: rgba(0,0,0,0);
    border:none;
    outline: none;

}
i{
    margin-right: 4px;
    color: rgb(131, 167, 199);
}
body{

    background-image: url("ian-schneider-PAykYb-8Er8-unsplash.jpg");
    background-size: cover;
}